body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Açık gri arka plan */
    color: #333; /* Koyu gri metin rengi */
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main {
    padding: 2rem;
    max-width: 960px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif gölge */
}

.social ul {
    list-style: none;
    padding: 0;
    display: flex; /* İkonları yan yana göster */
    justify-content: center; /* Ortala */
}

.social li {
    margin: 0 1rem; /* İkonlar arası boşluk */
}

.social a {
    color: #333;
    font-size: 1.5rem; /* İkon boyutunu büyüt */
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.contact label {
  display: block; /* Etiketleri alt alta sıralar */
  margin-bottom: 5px; /* Etiketler arası boşluk ekler */
}

.contact label {
  display: block; /* Etiketleri alt alta sıralar */
  margin-bottom: 5px; /* Etiketler arası boşluk ekler */
}

.contact input,
.contact textarea {
  width: 50%; /* Input ve textarea elementlerini tam genişliğe getirir */
  padding: 5px; /* Input ve textarea alanlarında boşluk ekler */
  border: 1px solid #ccc; /* Input ve textarea elementlerine kenarlık ekler */
}
