body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
    color: #333; 
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main {
    padding: 2rem;
    max-width: 960px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.social ul {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center; 
}

.social li {
    margin: 0 1rem; 
}

.social a {
    color: #333;
    font-size: 1.5rem;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.contact label {
  display: block; 
  margin-bottom: 5px; 
}

.contact label {
  display: block; 
  margin-bottom: 5px; 
}

.contact input,
.contact textarea {
  width: 50%; 
  padding: 5px; 
  border: 1px solid #ccc;
}
